/* 全局样式 */
body {
    background-color: #1c1c1c;
    color: #e0e0e0;
}

/* 内容版块 */
.primary-container > .right-area > .content-page {
    background-color: #282828;
    color: #e0e0e0;
}

/* - 左侧卡片 */
.primary-container > .left-area > .cards > .card-item {
    background-color: #282828;
    color: #e0e0e0;
}
/* - 浏览设置 */
.primary-container > .left-area > .cards > .card-item > .content > .settings-item {
    background-color: #333333;
    color: #ffffff;
}

/* 链接样式 */
a {
    color: #64b5f6;
}
a:hover {
    color: #90caf9;
}

/* - 页脚 */
.footer {
    background-color: #171717;
    color: #888;
}

.footer > .line-break {
    color: #444;
}

.footer .icp-link {
    color: #888;
}
.footer .icp-link:hover {
    color: #ccc;
}
/* - 页脚 End */
